<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KinectV2MouseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <KinectV2MouseControl.Properties.Settings>
            <setting name="CursorSmoothing" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="GripGesture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="DoClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseThresold" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PauseToClickTime" serializeAs="String">
                <value>2</value>
            </setting>
        </KinectV2MouseControl.Properties.Settings>
    </userSettings>
</configuration>