<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KinectV2MouseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <KinectV2MouseControl.Properties.Settings>
            <setting name="Smoothing" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MoveScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="HoverRange" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="HoverDuration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Enable" serializeAs="String">
                <value>1</value>
            </setting>
			<setting name="Minimized" serializeAs="String">
				<value>0</value>
			</setting>
            <setting name="ForearmRatioForDeadzone" serializeAs="String">
                <value>2.1</value>
            </setting>
        </KinectV2MouseControl.Properties.Settings>
    </userSettings>
</configuration>
